$keyboard-color: #273136;
$keyboard-border-radius: 1.3rem;
$theme-color: #D1E9FA;

$button-primary: linear-gradient(180deg, #8EC4DD 0%, #689DBB 100%);
$button-primary-pressed: #689DBB;
$button-primary-hover: #8EC4DD;